.header {
  background-color: #cde3eb;
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
}

.logo-holder {
  display: inline;
  font-size: 1.8vw;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-left: 4%;
}

.logo-holder img {
  max-width: 100%;
}
.logoText {
  color: gray;
  margin: -63% 82%;
  width: 5%;
}

.navbar-holder {
  margin-right: 4%;
  float: right;
  font-size: 1.8vw;
  font-family: sans-serif;
}
.navbar-holder nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.navbar-holder .item {
  float: right;
  padding: 5% 22px;
  color: white;
  text-decoration: none;
}

.item:hover:not(.active) {
  background-color: gray;
}
.active {
  border-bottom: 3px solid green;
}
